.App {
  text-align: center;
}

.numberContainer {
  border: 2px solid gold;
  width: 50px;
  margin: 10px;
}

.operatorContainer {
  border: 2px solid hotpink;
  width: 50px;
  margin: 10px;
}

.clearContainer {
  border: 2px solid skyblue;
  width: 50px;
  margin: 10px;
}

.equalsContainer {
  border: 2px solid skyblue;
  width: 50px;
  margin: 10px;
}

.resultContainer {
  border: 2px solid black;
  width: 500px;
  height: 100px;
  margin: 10px;
}
