.App {
  text-align: center;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px;
  grid-template-rows: auto;
}

.numberContainer {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 5px;
}
.equalsContainer {
  border: 2px solid skyblue;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 5px;
}

.operatorContainer {
  border: 2px solid hotpink;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 5px;
}
.clearContainer {
  border: 2px solid skyblue;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 5px;
}

.negativeContainer {
  border: 2px solid greenyellow;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 5px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.resultContainer {
  border: 2px solid black;
  width: 500px;
  height: 100px;
  margin: 10px;
}
