html {
  background-color: black;
}

.App {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 80px;
  color: white;
}

.calculatorButtons {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 130px);
  justify-items: center;
}

.calculatorDisplay {
  text-align: center;
}

.clearContainer {
  border: 4px solid skyblue;
  width: 240px;
  height: 120px;
  margin: 5px 5px 5px 5px;
  grid-column: 1;
  grid-row: 1;
}

#number1Container {
  grid-column: 1;
  grid-row: 2;
}

#number2Container {
  grid-column: 2;
  grid-row: 2;
}

#number3Container {
  grid-column: 3;
  grid-row: 2;
}

#number4Container {
  grid-column: 1;
  grid-row: 3;
}

#number5Container {
  grid-column: 2;
  grid-row: 3;
}

#number6Container {
  grid-column: 3;
  grid-row: 3;
}

#number7ontainer {
  grid-column: 1;
  grid-row: 4;
}

#number8Container {
  grid-column: 2;
  grid-row: 4;
}

#number9Container {
  grid-column: 3;
  grid-row: 4;
}

#number0Container {
  grid-column: 1;
  grid-row: 5;
}

.numberContainer {
  border: 4px solid white;
  width: 240px;
  height: 120px;
  margin: 5px 5px 5px 5px;
}
.equalsContainer {
  border: 4px solid skyblue;
  width: 240px;
  height: 250px;
  margin: 5px 5px 5px 5px;
  grid-column: 4;
  grid-row: 4 / 5;
}

.decimalContainer {
  border: 4px solid greenyellow;
  width: 240px;
  height: 120px;
  margin: 5px 5px 5px 5px;
}

.operatorContainer {
  border: 4px solid hotpink;
  width: 240px;
  height: 120px;
  margin: 5px 5px 5px 5px;
}

.negativeContainer {
  border: 4px solid greenyellow;
  width: 240px;
  height: 120px;
  margin: 5px 5px 5px 5px;
}

.calculatorDisplay {
  position: relative;
  border: 4px solid greenyellow;
  text-align: center;
  max-width: 990px;
  overflow-wrap: break-word;
  min-height: 300px;
}

.result {
  position: relative;
  left: 50%;
  border: 4px solid greenyellow;
  text-align: center;
  color: pink;
}
